useDynLib(extremarank, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(extremarank)
export(extremarank_effects)
export(extremarank_extrema)
export(refit_extremarank)
export(pseudobulk_extremarank)
export(pseudobulk_experiment)
export(write_extremarank)
S3method(print,extremarank_result)
S3method(print,extremarank_pseudobulk)
