useDynLib(extremarank, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(extremarank)
export(extremarank_effects)
export(extremarank_extrema)
export(refit_extremarank)
export(pseudobulk_extremarank)
export(pseudobulk_experiment)
export(write_extremarank)
S3method(print,extremarank_result)
S3method(print,extremarank_pseudobulk)

export(preflight_extremarank)
export(refit_extremarank_custom)
export(robustness_curve)
S3method(as.data.frame,extremarank_result)
S3method(summary,extremarank_result)
S3method(print,summary.extremarank_result)
S3method(plot,extremarank_result)
S3method(plot,extremarank_curve)
export(read_extremarank)
